# Base dependencies
setuptools==69.0.2
wheel==0.42.0

# Core
Django==4.2.8
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
gunicorn==21.2.0
Pillow==10.1.0

# Database
psycopg2-binary==2.9.7
dj-database-url==2.1.0

# Static Files
whitenoise==6.6.0

# Authentication
django-allauth==0.58.2

# Cache
django-redis==5.4.0

# Development
django-debug-toolbar==4.2.0
python-dotenv==1.0.0

# API Documentation
coreapi==2.3.3
PyYAML==6.0.1
uritemplate==4.1.1

# Production
psycopg2==2.9.9
